<h1>Editing Ticket</h1>

<%= form_with(model: @ticket, url: ticket_path(@ticket), local: true) do |form| %>
  <%= render 'form', ticket: @ticket, form: form %>
<% end %>

<%= link_to 'Show', @ticket %>
